<div class="main">
   <h1 class="text text-danger">Book Management System</h1>
   <form action="/login" method="post">
      <label for="first">
         Username:
      </label>
      <input class="form-control" type="text" id="first" name="username" placeholder="Enter your Username" required>
      <label for="password">
         Password:
      </label>
      <input class="form-control" type="password" id="password" name="password" placeholder="Enter your Password"
         required>
      <div class="wrap mt-3">
         <button type="Login">
            Submit
         </button>
      </div>
   </form>
</div>